<p>notifications works!</p>
<div class="mt-14 mx-auto w-[97%] bg-neutral-100 p-4 rounded-md">
        <table class="table table-fixed w-full">
            <colgroup>
                <col style="width: 11%">
                <col style="width: 30%">
                <col style="width: 20%">
                <col style="width: 15%">
                <col style="width: 10%">
            </colgroup>
            <!-- head -->
            <thead class="text-sm border-b-2 text-neutral-800">
            <tr>
                <th>
                <label>
                    <input [indeterminate]="true" disabled type="checkbox" class="checkbox checkbox-sm" />
                </label>
                </th>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
            </thead>
        </table>
        <div class="overflow-auto h-[300px] ">
        <table class="table table-zebra table-fixed w-full">
            <colgroup>
                <col style="width: 11%">
                <col style="width: 30%">
                <col style="width: 20%">
                <col style="width: 15%">
                <col style="width: 10%">
            </colgroup>
            <tbody>
            <!-- row 1 -->
            <ng-container *ngFor="let product">
                <tr>
                    <th>
                    <label>
                        <input type="checkbox" class="checkbox checkbox-sm" />
                    </label>
                    </th>
                    <td>
                    <div class="flex items-center gap-3">
                        <div class="avatar">
                        <div class="mask mask-squircle h-8 w-8">
                            <img
                            src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                            alt="Avatar Tailwind CSS Component" />
                        </div>
                        </div>
                        <div>
                            <div class="">{{product.variation}}</div>
                        </div>
                    </div>
                    </td>
                    <td>
                        {{product.name}}
                    </td>
                    <td> ${{product.price}}</td>
                    <th>
                        in-stock
                    </th>
                </tr>
            </ng-container>

            </tbody>
        </table>
        </div>
    </div>