<!-- <p>orders works!</p> -->
<div class="text-black mx-5 mt-8">
    <div class="flex items-center justify-between">
        <h1 class="text-4xl font-medium">Orders</h1>
        <!-- <button (click)="openDialog('add')" class="btn btn-neutral"> Add Product</button> -->
    </div>

    <!-- <div class="mt-7 flex gap-10">
        <div class="p-5 bg-neutral-300 rounded-sm max-w-[220px] w-full shadow-md shrink">
            <h1 class="text-3xl mb-2">{{products.length}}</h1>
            <p class="text-sm">Total Number of Products</p>
        </div>

        <div class="p-5 bg-neutral-300 rounded-sm max-w-[220px] w-full shadow-md shrink">
            <h1 class="text-3xl mb-2">${{totalSum.toFixed(2)}}</h1>
            <p class="text-sm">Inventory Value</p>
        </div>

        <div class="p-5 bg-neutral-300 rounded-sm max-w-[220px] w-full shadow-md shrink">
            <h1 class="text-3xl mb-2">$ {{maxPrice.toFixed(2)}} </h1>
            <p class="text-sm">Most Expensive Item Price</p>
        </div>
    </div> -->


<div class="mt-14 overflow-x-auto h-[420px] w-[100%] bg-neutral-100 px-4 mb-10 rounded-md">
  <table class="table  bg-neutral-100 ">
    <thead class="text-sm border-b-2 text-neutral-800">
        <tr class="pb-10 " >
            <th class="py-4">
                <label>
                    <input [indeterminate]="true" disabled type="checkbox" class="checkbox checkbox-sm" />
                </label>
            </th>
            <th class="py-5 ">Reference</th>
            <th class="py-5">Customer</th>
            <th class="py-5">Status</th>
            <th class="py-5">Products</th>
            <th class="py-5">Total</th>
            <th class="py-5">Date</th>
        </tr>
    </thead>
    <tbody class="pt-10">
        <ng-container *ngFor="let order of orders let i = index ">
            <tr (click)="openDialog(order)" class="hover:bg-neutral-300">
                <td class="font-bold">
                    {{i+1}}
                </td>
                <td class="">
                    <div class="">#{{order.paystackReference}}</div>
                </td>
                <td class="">
                    <div class="flex items-center gap-3">
                        <div class="avatar">
                        <div class="mask mask-squircle h-8 w-8">
                            <img
                                alt="Tailwind CSS Navbar component"
                                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                        </div>
                        <div>
                            <div class="">{{order.fullName}}</div>
                            
                        </div>
                    </div>
                </td>
                
                <td> 
                    <!-- <div class="text-white bg-green-300 rounded-2xl p-2 flex items-center justify-center">
                        {{order.status}}
                    </div> -->
                    <div class="text-green-500">
                        {{order.status}}
                    </div>
                </td>
                <td>
                    <div class="flex gap-1">
                        <div *ngFor=" let item of order.products">
                            <img class="object-cover size-6 rounded-md" src= {{item.product.image}} alt="">
                        </div>
                    </div>
                    
                    <!-- {{order.products[0].product.name}} -->
                </td>
                <td>
                    &#8358;
                    {{order.amount | number}}
                </td>
                <td>
                    {{ order.paidAt | date: 'd MMMM y' }}
                </td>
            </tr>
        </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th></th>
        <!-- <th></th>
        <td>Product</td>
        <td>category</td>
        <td>price</td>
        <th> stock</th> -->
      </tr>
    </tfoot>
  </table>
</div>

</div>