<p>dashboard works!</p>
<!-- <div class="max-w-[400px] flex flex-col items-center justify-center ">
    <header>Edit Product #2</header>
    <form class="w-full flex flex-col items-center justify-center gap-5">
        <label for="">Upload new Image</label>
        <input type="file" class="file-input bg-neutral-200 file-input-bordered w-full max-w-xs" />

        <label for="">Edit Product Name/Variation</label>
        <input type="text" placeholder="name/ Variation" class="input input-bordered w-full max-w-xs bg-neutral-100" />

        <label for="">Edit Product category</label>
        <input type="text" placeholder="category" class="input input-bordered w-full max-w-xs bg-neutral-100" />

        <label for="">Edit Product Price</label>
        <input type="text" placeholder="price" class="input input-bordered w-full max-w-xs bg-neutral-100" />

        <label for="">Edit Product Stock</label>
        <input type="text" placeholder="Stock" class="input input-bordered w-full max-w-xs bg-neutral-100" />



    </form>
</div> -->

<!-- <div class="flex flex-col items-center justify-center">
    <p>Are you sure u want to delete this product</p>
    <div class="flex justify-between w-full">
        <button class="btn btn-active">Cancel</button>
        <button class="btn btn-error">Delete</button>
    </div>
</div> -->
<app-orders-modal></app-orders-modal>